<div class="alain-default__nav-item d-flex align-items-center px-sm">
  <i nz-icon nzType="skin" nzTheme="outline" style="color:#58afff;font-size: 18px;margin-right: 15px;" nz-dropdown
    [nzDropdownMenu]="skin" nzPlacement="bottomCenter"></i>
  <font nz-dropdown nzPlacement="bottomCenter" [nzDropdownMenu]="userMenu">
    <nz-avatar [nzSrc]="settings.user.avatar" nzSize="small" class="mr-sm"></nz-avatar>
    <span style="color: #000000de" class="user-name">{{ settings.user.name }}</span>
  </font>
</div>
<nz-dropdown-menu #userMenu="nzDropdownMenu">
  <div nz-menu class="width-sm">
    <div nz-menu-item routerLink="/center/personal">
      <i nz-icon nzType="user" class="mr-sm"></i>
      个人中心
    </div>
    <li nz-menu-divider></li>
    <div nz-menu-item (click)="logout()">
      <i nz-icon nzType="logout" class="mr-sm"></i>
      退出登录
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #skin="nzDropdownMenu">
  <div nz-menu class="width-sm">
    <div nz-menu-item (click)="changeSkin('light')">
      亮色
    </div>
    <li nz-menu-divider></li>
    <div nz-menu-item (click)="changeSkin('dark')">
      暗黑
    </div>
  </div>
</nz-dropdown-menu>
