<page-header [title]="'用户管理'"></page-header>

<nz-card>
  <form nz-form [formGroup]="searchForm">
    <nz-form-item>
      <nz-form-label nz-col nzSm="4" nzLg="3" nzXXl="2" nzFor="name">姓名</nz-form-label>
      <nz-form-control nz-col nzSm="8" nzLg="5" nzXXl="4">
        <input nz-input formControlName="name" />
      </nz-form-control>

      <nz-form-label nz-col nzSm="4" nzLg="3" nzXXl="2" nzFor="loginName">登录名</nz-form-label>
      <nz-form-control nz-col nzSm="8" nzLg="5" nzXXl="4">
        <input nz-input formControlName="loginName" />
      </nz-form-control>
    </nz-form-item>

    <div nz-col [nzSpan]="24" class="text-right mb-15">
      <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading" (click)="searchUser()">查询</button>
    </div>

  </form>
  <button nz-button (click)="addPeople()" [nzType]="'primary'">
    <i nz-icon nzType="plus"></i>
    <span>添加用户</span>
  </button>
  <nz-divider nzDashed></nz-divider>
  <nz-table #ajaxTable nzBordered="true" nzShowPagination="true" nzShowSizeChanger="true" [nzFrontPagination]="false"
    [nzData]="listOfData" [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="changePageIndex($event)" (nzPageSizeChange)="changePageSize($event)"
    [nzPageSizeOptions]="pageSizeOptions">
    <thead>
      <tr>
        <!-- <th nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" (nzCheckedChange)="checkAll($event)"></th> -->
        <th>ID</th>
        <th>登录名</th>
        <th>姓名</th>
        <th>角色</th>
        <th><span>手机</span></th>
        <th>登陆时间</th>
        <th><span>操作</span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listOfData;let i=index">
        <!-- <td nzShowCheckbox (nzCheckedChange)="refreshStatus(i)" [(nzChecked)]="data.checked"></td> -->
        <td>{{ data.id }}</td>
        <td>{{ data?.loginName }}</td>
        <td>{{ data?.name }}</td>
        <td>{{ data?.roleNames }}</td>
        <td>{{ data?.phonenumber }}</td>
        <td>{{ data?.loginDate }}</td>
        <td>
          <a (click)="updateUser(data)">修改</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-popconfirm (nzOnConfirm)="deleteUser(data.id)" nzPopconfirmPlacement="top" nzTitle="确认删除该条数据?">删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

<nz-modal nzWidth="1000px" [(nzVisible)]="isVisible" [nzTitle]="modalTitle" (nzOnCancel)="handleCancel()"
  (nzOnOk)="modifyUserData()">
  <form nz-form [formGroup]="userForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">姓名</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="姓名不能为空！">
        <input nz-input formControlName="name" placeholder="请输入" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="loginName">登录名</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="登录名不能为空！">
        <input nz-input formControlName="loginName" type="text" autocomplete="off" placeholder="请输入" />
        <ng-container *ngIf="userForm.get('loginName')?.hasError('alphaNumericValidator')">
          <span class="validator-error">只能是字母和数字组成</span>
        </ng-container>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="password">密码</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="密码不能为空！">
        <input nz-input formControlName="password" type="password" autocomplete="new-password" placeholder="请输入" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="confirmPassword">确认密码</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="确认密码不能为空！">
        <input nz-input formControlName="confirmPassword" type="password" placeholder="请输入" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="mobile">手机</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="手机不能为空！">
        <input nz-input formControlName="mobile" placeholder="请输入" />
        <ng-container *ngIf="userForm.get('mobile')?.hasError('mobilePhoneValidator')">
          <span class="validator-error">手机格式不正确</span>
        </ng-container>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <!-- [(ngModel)]="userForm.islogin" -->
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="islogin">是否允许登录</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="是否允许登录必填！">
        <nz-radio-group formControlName="loginFlag">
          <label nz-radio nzValue="0">禁止登录</label>
          <label nz-radio nzValue="1">允许登录</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="userrole" nzRequired>用户角色</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <!-- <nz-checkbox-group [(ngModel)]="allRoleList" (ngModelChange)="checkRoles(checkOptionsOne)"
          formControlName="roleIds"></nz-checkbox-group> -->

        <!-- 
        <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="selectRoles($event)">
          <div nz-row>
            <div nz-col nzSpan="6" *ngFor="let role of allRoleList;let i=index"><label nz-checkbox [ngModel]="false"
                formControlName="roleIds" [nzValue]="role.id">{{role.name}}</label>
            </div>
          </div>
        </nz-checkbox-wrapper> -->

        <div *ngFor="let role of allRoleList;let i=index" style="display: inline-block;">
          <label class="checkbox-label ml-15">
            <input type="checkbox" [checked]="role.checked" class="my-checkbox"
              (click)="selectRoles(i,$event.target.checked)">
            <span class="new-checkbox"></span>&nbsp;&nbsp;<span>{{role.label}}</span></label>
        </div>

      </nz-form-control>

    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark">备注</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <textarea nz-input formControlName="remark" id="remark" rows="3" placeholder="请输入"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
