<page-header [title]="'留存分析'" [breadcrumb]="breadcrumb">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item routerLink="/dashboard"><a>首页</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a>数据分析</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a>留存分析</a></nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
</page-header>
<nz-card>
  <form nz-form [formGroup]="userRetainForm">
    <!-- <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="initialAction" [nzSpan]="4">初始行为</nz-form-label>
          <nz-form-control [nzSpan]="20">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="选择用户行为" formControlName="initialAction">
              <nz-option nzLabel="启动游戏" nzValue="0"></nz-option>
              <nz-option nzLabel="退出游戏" nzValue="1"></nz-option>
              <nz-option nzLabel="登录账号" nzValue="2"></nz-option>
              <nz-option nzLabel="完成日常任务" nzValue="3"></nz-option>
              <nz-option nzLabel="创建角色" nzValue="4"></nz-option>
              <nz-option nzLabel="PVP战斗" nzValue="5"></nz-option>
              <nz-option nzLabel="分享游戏" nzValue="6"></nz-option>
              <nz-option nzLabel="装备道具抽取" nzValue="7"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="4">后续行为</nz-form-label>
          <nz-form-control [nzSpan]="20">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="选择用户行为" formControlName="finallyAction">
              <nz-option nzLabel="启动游戏" nzValue="0"></nz-option>
              <nz-option nzLabel="退出游戏" nzValue="1"></nz-option>
              <nz-option nzLabel="登录账号" nzValue="2"></nz-option>
              <nz-option nzLabel="完成日常任务" nzValue="3"></nz-option>
              <nz-option nzLabel="创建角色" nzValue="4"></nz-option>
              <nz-option nzLabel="PVP战斗" nzValue="5"></nz-option>
              <nz-option nzLabel="分享游戏" nzValue="6"></nz-option>
              <nz-option nzLabel="装备道具抽取" nzValue="7"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSpan]="4">同时显示</nz-form-label>
          <nz-form-control [nzSpan]="20">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="选择用户行为" formControlName="sameDisplay">
              <nz-option nzLabel="启动游戏" nzValue="0"></nz-option>
              <nz-option nzLabel="退出游戏" nzValue="1"></nz-option>
              <nz-option nzLabel="登录账号" nzValue="2"></nz-option>
              <nz-option nzLabel="完成日常任务" nzValue="3"></nz-option>
              <nz-option nzLabel="创建角色" nzValue="4"></nz-option>
              <nz-option nzLabel="PVP战斗" nzValue="5"></nz-option>
              <nz-option nzLabel="分享游戏" nzValue="6"></nz-option>
              <nz-option nzLabel="装备道具抽取" nzValue="7"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div> -->


    <nz-form-item>
      <nz-form-label nz-col nzSm="4" nzLg="3" nzXXl="2" nzFor="dateRange">日期</nz-form-label>
      <nz-form-control nz-col nzSm="8" nzLg="5" nzXXl="4">
        <nz-range-picker [nzShowTime]="{ nzFormat: 'HH:mm' }" nzFormat="yyyy-MM-dd HH:mm" formControlName="dateRange"
          [nzPlaceHolder]="['开始时间', '结束时间']" [ngModel]="dateRange" (nzOnOk)="changeDateRange($event)">
        </nz-range-picker>
      </nz-form-control>
    </nz-form-item>

    <div nz-row [nzGutter]="24">
      <nz-form-item nzFlex>
        <div nz-col [nzSpan]="24" class="text-right">
          <button nz-button type="submit" [nzType]="'primary'" (click)="searchData()">查询</button>
        </div>
      </nz-form-item>
    </div>
  </form>
  <nz-divider nzDashed></nz-divider>
  <nz-table #headerTable nzBordered="true" nzShowPagination="false" nzShowSizeChanger="false"
    [nzFrontPagination]="false" [nzLoading]="loading" [nzData]="bindList" [nzScroll]="{ x: '1300px' }">
    <thead>
      <tr>
        <th nzLeft="0px">日期</th>
        <th nzLeft="104px" nzShowFilter="true" [nzFilters]="stayDayList" [nzFilterMultiple]="false"
          (nzFilterChange)="changeDays($event)">总人数
        </th>
        <ng-container *ngFor="let day of dayList;let j=index">
          <th>第{{j+1}}天</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userRetainList;let i=index">
        <td nzWidth="100px" nzLeft="0px">{{ user.dateTime }}</td>
        <ng-container *ngFor="let item of user.datas;let j=index">
          <!-- routerLink="/analysis/userList" -->
          <td nzLeft="104px" *ngIf="j==0"><a>{{ item }}</a></td>
          <td *ngIf="j>0">{{item}}</td>
        </ng-container>

      </tr>
    </tbody>
  </nz-table>
</nz-card>
