<page-header [title]="'菜单授权'">
</page-header>

<div nz-row [nzGutter]="24" class="pt-lg">
  <div nz-col nzXs="8" class="left-box">
    <nz-card class="card-box">

      <ul nz-menu>
        <li nz-menu-item *ngFor="let item of roleMenuList;let i=index" [nzSelected]="selectRoleIndex==i?true:false"
          (click)="selectMenu(item,i)">{{item.name}}</li>
      </ul>

    </nz-card>
  </div>
  <div nz-col nzXs="16">
    <nz-card class="card-box">
      <button nz-button (click)="addFirstManu()" [nzType]="'primary'" [nzLoading]="modalLoading">
        <i nz-icon nzType="plus"></i>
        <span>添加一级菜单权限</span>
      </button>
      <nz-divider nzDashed></nz-divider>
      <nz-table [nzData]="menuList" nzShowPagination="false" [nzLoading]="tableLoading" nzHideOnSinglePage=true>
        <thead>
          <tr>
            <th style="width:20%">一级菜单</th>
            <th style="width:20%">二级菜单</th>
            <th style="width:20%">菜单关键字</th>
            <th style="width:20%">更新时间</th>
            <th style="width:20%">操作</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let menu of menuList">

            <tr>
              <td nzShowExpand="true" [(nzExpand)]="menu.groupExpand"><i nz-icon nzType="profile" nzTheme="outline"
                  class="server-icon"></i>&nbsp;&nbsp;{{menu.name}}
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <a (click)="addSecondMenu(menu.id,menu.menuChildList)">添加二级菜单权限</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a nz-popconfirm nzPopconfirmPlacement="top" nzTitle="确认删除该条数据?"
                  (nzOnConfirm)="deleteRoleOfMenu(menu.id)">删除</a>
              </td>
            </tr>
            <tr [(nzExpand)]="menu.groupExpand">
              <td></td>
              <td colspan="4">
                <nz-table [nzData]="menu.menuChildList" nzSize="middle" [nzShowPagination]="false">
        <tbody>
          <ng-container *ngFor="let menuChild of menu.menuChildList">
            <tr>
              <td style="width:25%">
                <i nz-icon nzType="read" nzTheme="outline" class="server-icon"></i>&nbsp;&nbsp;{{menuChild.name}}
              </td>
              <td style="width:25%">{{menuChild.menukey}}</td>
              <td style="width:25%">{{menuChild.updateDate | timeTransform:'YYYY-MM-DD HH:mm:ss'}}</td>
              <td style="width:25%">
                <a nz-popconfirm nzPopconfirmPlacement="top" nzTitle="确认删除该条数据?"
                  (nzOnConfirm)="deleteRoleOfMenu(menuChild.id)">删除</a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
      </td>
      </tr>
      </ng-container>
      </tbody>
      </nz-table>
    </nz-card>
  </div>
</div>

<nz-modal nzWidth="1000px" [(nzVisible)]="menuVisible" [nzTitle]="modalTitle" (nzOnCancel)="menuModalCancel()"
  (nzOnOk)="menuModalOk()" [nzMask]="modalLoading" [nzOkLoading]="modalLoading">
  <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="pickMenuList($event)">
    <div nz-row>
      <div nz-col nzSpan="8" *ngFor="let menu of modalMenuList"><label nz-checkbox
          [nzValue]="menu.id">{{menu.name}}</label></div>
    </div>
  </nz-checkbox-wrapper>
</nz-modal>
