<page-header [title]="'服务器监控'">
</page-header>

<nz-card>

  <form nz-form [formGroup]="serverForm">
    <div nz-row>
      <nz-form-item>
        <nz-form-label nz-col nzSm="4" nzLg="3" nzXXl="2" nzFor="serverName">服务器名称</nz-form-label>
        <nz-form-control nz-col nzSm="8" nzLg="5" nzXXl="4">
          <input nz-input formControlName="serverName" placeholder="请输入服务器名称" />
        </nz-form-control>

        <nz-form-label nz-col nzSm="4" nzLg="3" nzXXl="2">连接状态</nz-form-label>
        <nz-form-control nz-col nzSm="8" nzLg="5" nzXXl="4">
          <nz-select formControlName="status" nzPlaceHolder="请选择">
            <nz-option nzValue="1" nzLabel="连接"></nz-option>
            <nz-option nzValue="0" nzLabel="断开"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <div nz-col [nzSpan]="24" class="text-right mb-15">
        <button nz-button type="submit" [nzType]="'primary'" (click)="inquireServer()">查询</button>
      </div>
    </div>

  </form>

  <nz-table nzBordered="true" [nzFrontPagination]="false" [nzData]="bindDataList" [nzLoading]="loading"
    [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="changePage($event)"
    nzShowPagination="true">
    <thead>
      <tr>
        <th nzWidth="100px" nzLeft="0px">服务器</th>
        <th nzWidth="100px">服务器组ID</th>
        <th nzWidth="100px">连接状态</th>
        <th nzWidth="150px">CPU</th>
        <th nzWidth="150px">内存</th>
        <th nzWidth="100px">GPU</th>
        <th nzWidth="100px">磁盘</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let server of serverList;let i=index">
        <td nzLeft="0px" nz-tooltip [nzTitle]="server.serverName">{{ server.serverName }}</td>
        <td>
          {{server.regionId}}
        </td>
        <td>
          <nz-badge [nzStatus]="server.status==1?'success':'error'" [nzText]="server.status==1?'连接':'断开'"></nz-badge>
        </td>

        <td (click)="showDevDetail(server.cpu,'cpu',server.serverName)" class="picTd">
          <div *ngIf="(server.cpu).length>0" echarts [options]="formateLineData(server.cpu,'cpu')"
            style="height: 65px;"></div>
          <span style="height: 65px;display: inline-block;line-height: 65px;" *ngIf="(server.cpu).length==0">--</span>
        </td>
        <td (click)="showDevDetail(server.memory,'memory',server.serverName)" class="picTd">
          <div *ngIf="(server.memory).length>0" echarts [options]="formateLineData(server.memory,'memory')"
            style="height: 65px;"></div>
          <span style="height: 65px;display: inline-block;line-height: 65px;"
            *ngIf="(server.memory).length==0">--</span>
        </td>
        <td><a (click)="lookDetails('gpu',server.serverName)">查看详情</a></td>
        <td>
          <a (click)="lookDetails('disk',server.serverName)">查看详情</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<!-- cpu、内存详情 -->
<nz-drawer [nzVisible]="devDetailVisible" [nzWidth]="800" [nzClosable]="true" (nzOnClose)="closeDevDetail()">
  <div class="mt-15">
    <nz-radio-group [(ngModel)]="unit" [nzButtonStyle]="'solid'" (ngModelChange)="changeDevDetailUnit($event)">
      <label nz-radio-button nzValue="hour">1小时</label>
      <label nz-radio-button nzValue="day">1天</label>
      <label nz-radio-button nzValue="week">1周</label>
    </nz-radio-group>
  </div>
  <nz-spin nzSimple [nzSize]="'large'" *ngIf="devDetailLoading" class="text-center"></nz-spin>
  <div *ngIf="devDetailRatio" echarts [options]="devDetailRatio" style="height: 400px"></div>
  <div *ngIf="devDetailData" echarts [options]="devDetailData" style="height: 400px"></div>
</nz-drawer>
<!-- 磁盘使用情况 -->
<nz-drawer [nzVisible]="diskVisible" [nzWidth]="1200" [nzClosable]="true" (nzOnClose)="close()">
  <div class="mt-15">
    <nz-radio-group [(ngModel)]="unit" [nzButtonStyle]="'solid'" (ngModelChange)="changeDiskUnit($event)">
      <label nz-radio-button nzValue="hour">1小时</label>
      <label nz-radio-button nzValue="day">1天</label>
      <label nz-radio-button nzValue="week">1周</label>
    </nz-radio-group>
  </div>
  <nz-spin nzSimple [nzSize]="'large'" *ngIf="diskLoading" class="text-center"></nz-spin>

  <ng-container *ngIf="diskUseData">
    <nz-card class="mt-15">
      <div echarts [options]="diskUseData" style="height: 400px"></div>
    </nz-card>
  </ng-container>

  <ng-container *ngIf="diskAvailableData">
    <nz-card>
      <div echarts [options]="diskAvailableData" style="height: 400px"></div>
    </nz-card>
  </ng-container>

  <nz-empty *ngIf="!diskUseData" style="margin-top: 100px;"></nz-empty>
</nz-drawer>
<!-- GPU使用情况 -->
<nz-drawer [nzVisible]="gpuVisible" [nzWidth]="1200" [nzClosable]="true" (nzOnClose)="closeGpu()">
  <div class="mt-15">
    <nz-radio-group [(ngModel)]="unit" [nzButtonStyle]="'solid'" (ngModelChange)="changeGpuUnit($event)">
      <label nz-radio-button nzValue="hour">1小时</label>
      <label nz-radio-button nzValue="day">1天</label>
      <label nz-radio-button nzValue="week">1周</label>
    </nz-radio-group>
  </div>
  <nz-spin nzSimple [nzSize]="'large'" *ngIf="gpuLoading" class="text-center"></nz-spin>

  <div *ngIf="!gpuLoading">

    <ng-container *ngIf="gpuData.length>0">
      <ng-container *ngFor="let item of gpuData">
        <div nz-row nzGutter="15" class="mt-15">
          <nz-card>
            <div echarts [options]="item.temperat" style="height: 400px"></div>
          </nz-card>
        </div>

        <div nz-row nzGutter="15" class="mt-15">
          <nz-card>
            <div echarts [options]="item.usageRate" style="height: 400px"></div>
          </nz-card>
        </div>
      </ng-container>
    </ng-container>
    <nz-empty *ngIf="gpuData.length==0" style="margin-top: 100px;"></nz-empty>

  </div>
</nz-drawer>
