<page-header [title]="'修改密码'">
</page-header>
<nz-card>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="updatePassword()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="curPassword">当前密码</nz-form-label>
      <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="当前密码不能为空！">
        <input nz-input formControlName="curPassword" id="curPassword" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="newPassword">新密码</nz-form-label>
      <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="新密码不能为空！">
        <input nz-input formControlName="newPassword" id="newPassword" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="confirmPassword">确认新密码</nz-form-label>
      <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="两次密码不一致！">
        <input nz-input formControlName="confirmPassword" id="confirmPassword" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 16, offset: 6 }">
        <button nz-button nzType="primary">确认修改</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
