<page-header [title]="'云产品'">
</page-header>

<nz-card>
  <form nz-form [formGroup]="productForm">
    <div nz-row>
      <nz-form-item>
        <nz-form-label nz-col nzSm="4" nzLg="3" nzXXl="2" nzFor="productName">产品名称</nz-form-label>
        <nz-form-control nz-col nzSm="8" nzLg="5" nzXXl="4">
          <input nz-input formControlName="productName" placeholder="请输入产品名称" />
        </nz-form-control>

        <nz-form-label nz-col nzSm="4" nzLg="3" nzXXl="2" nzFor="productType">产品类型</nz-form-label>
        <nz-form-control nz-col nzSm="8" nzLg="5" nzXXl="4">
          <nz-select formControlName="productType" nzPlaceHolder="请选择" (ngModelChange)="getProductList()">
            <nz-option nzValue="" nzLabel="请选择"></nz-option>
            <nz-option nzValue="1" nzLabel="月卡"></nz-option>
            <nz-option nzValue="2" nzLabel="点卡"></nz-option>
          </nz-select>
        </nz-form-control>

        <nz-form-label nz-col nzSm="4" nzLg="3" nzXXl="2" nzFor="gameName">游戏名称</nz-form-label>
        <nz-form-control nz-col nzSm="8" nzLg="5" nzXXl="4">
          <input nz-input formControlName="gameName" placeholder="请输入游戏名称" />
        </nz-form-control>

        <nz-form-label nz-col nzSm="4" nzLg="3" nzXXl="2" nzFor="gameId">游戏id</nz-form-label>
        <nz-form-control nz-col nzSm="8" nzLg="5" nzXXl="4">
          <input nz-input formControlName="gameId" placeholder="请输入游戏id" />
        </nz-form-control>


      </nz-form-item>

      <div nz-col [nzSpan]="24" class="text-right mb-15">
        <button nz-button type="submit" [nzType]="'primary'" (click)="getProductList()">查询</button>
      </div>
    </div>

  </form>
  <nz-table nzBordered="true" nzShowPagination="true" nzShowSizeChanger="true" [nzData]="cloudProductList"
    [nzFrontPagination]="false" [nzLoading]="tableLoading" [nzTotal]="total" [(nzPageIndex)]="pageNum"
    [(nzPageSize)]="pageSize" [nzPageSizeOptions]="pageSizeOptions" (nzPageIndexChange)="changePage($event)"
    (nzPageSizeChange)="changePageSize($event)" [nzScroll]="{ x: '1300px' }">
    <thead>
      <tr>
        <th>产品ID</th>
        <th>产品名称</th>
        <th>产品类型</th>
        <th>产品描述</th>
        <th>产品数量</th>
        <th>游戏id</th>
        <th>游戏名称</th>
        <th>金额</th>
        <th>折扣</th>
        <th>赠送</th>
        <th>日期</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of cloudProductList;let i=index">
        <td>{{product.productId}}</td>
        <td>{{ product.productName }}</td>
        <td>{{ productType[product.productType] }}</td>
        <td nz-tooltip [nzTitle]="product?.productDesc">{{ product.productDesc }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.gameId }}</td>
        <td>{{ product.gameName }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.discount }}</td>
        <td>{{ product.present }}</td>
        <td>{{ product.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
