<page-header [title]="'服务器管理'">
</page-header>

<nz-card>
  <nz-table [nzData]="bindList" nzShowPagination="false" [nzLoading]="tableLoading" (nzPageIndexChange)="changePage()"
    class="outerLayer">
    <thead>
      <tr>
        <th style="width:15%">服务器组名称</th>
        <th style="width:25%">服务器名称</th>
        <th style="width:25%">游戏服务器连接的中心服务ip</th>
        <th style="width:20%">连接时间</th>
        <th style="width:15%">连接状态</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let region of allRegions;let j=index">
        <tr>
          <td nzShowExpand="true" [(nzExpand)]="region.groupExpand" (nzExpandChange)="collapseRegion(region,$event)"
            class="text-left"><i nz-icon nzType="cloud-server" nzTheme="outline"
              class="server-icon"></i>&nbsp;&nbsp;{{region.name}}
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr [(nzExpand)]="region.groupExpand">
          <td></td>
          <td colspan="4">
            <nz-table nzBordered="false" [nzFrontPagination]="false" [nzTotal]="totals" [(nzPageIndex)]="pageNum"
              (nzPageIndexChange)="changePage($event,region)" [(nzPageSize)]="pageSize" nzSize="middle"
              [nzLoading]="expandLoading" [nzData]="serviceList" nzShowPagination="true">
              <!-- <nz-table nzBordered="true" nzShowPagination="true" nzShowSizeChanger="true" [nzData]="pictureList"
                [nzFrontPagination]="false" [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="pageIndex"
                [(nzPageSize)]="pageSize" [nzPageSizeOptions]="pageSizeOptions" (nzPageIndexChange)="changePage($event)"
                (nzPageSizeChange)="changePageSize($event)" [nzScroll]="{ x: '1300px' }"> -->
    <tbody>

      <ng-container *ngIf="expandLoading">
        <tr class="text-center">
          <td colspan="4">
            <nz-spin nzSimple></nz-spin>
          </td>
        </tr>
      </ng-container>


      <ng-container *ngIf="region.groupExpand">
        <ng-container *ngFor="let service of serviceList;let i=index">
          <tr>
            <!-- [(nzExpand)]="item.devExpand" -->
            <td style="width:30%" nzShowExpand="true" [(nzExpand)]="service.devExpand" class="text-left"><i nz-icon
                nzType="database" nzTheme="outline" class="server-icon"></i>&nbsp;&nbsp;{{service.serverName}}</td>
            <!-- <td></td>
            <td></td> -->
            <td style="width:30%">{{service.controlServer}}</td>
            <td style="width:23%">{{service.connectTime | timeTransform:'YYYY-MM-DD HH:mm:ss'}}</td>
            <td style="width:17%">
              <nz-badge [nzStatus]="service.status==1?'success':'error'" [nzText]="service.status==1?'链接':'断开'">
              </nz-badge>
            </td>
            <!-- <td></td>
            <td></td> -->
          </tr>
          <tr [(nzExpand)]="service.devExpand">
            <td></td>
            <td colspan="5">
              <nz-table [nzData]="service.devices" nzSize="middle" nzShowPagination="false">
    <tbody>
      <tr *ngFor="let dev of service.devices" (click)="queryDevDatas(dev,service.serverName)">
        <td style="cursor:pointer">{{ dev }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </nz-table>
  </td>
  </tr>
  </ng-container>
  </ng-container>
  <!-- <ng-container *ngIf="totals>10">
    <tr class="text-center">
      <td colspan="7"><a (click)="loadMoreService(region)"><i nz-icon nzType="caret-down"
            nzTheme="outline"></i>加载更多</a>&nbsp;&nbsp;&nbsp;&nbsp;<a (click)="CollapseService(region)"><i nz-icon
            nzType="caret-up" nzTheme="outline"></i>收起</a></td>
    </tr>
  </ng-container> -->



  </tbody>
  </nz-table>
  </td>
  </tr>
  </ng-container>
  </tbody>
  </nz-table>
</nz-card>

<nz-drawer [nzVisible]="serviceVisible" [nzWidth]="800" [nzClosable]="true" (nzOnClose)="close()">
  <div class="mt-15">
    <nz-radio-group [(ngModel)]="unit" [nzButtonStyle]="'solid'" (ngModelChange)="changeUnit($event)">
      <label nz-radio-button nzValue="hour">1小时</label>
      <label nz-radio-button nzValue="day">1天</label>
      <label nz-radio-button nzValue="week">1周</label>
    </nz-radio-group>
  </div>
  <div echarts [options]="ratioList" style="height: 400px"></div>
  <div *ngIf="dataList" echarts [options]="dataList" style="height: 400px"></div>
</nz-drawer>

<nz-drawer [nzVisible]="gpuVisible" [nzWidth]="1200" [nzClosable]="true" (nzOnClose)="close()">
  <div class="mt-15">
    <nz-radio-group [(ngModel)]="unit" [nzButtonStyle]="'solid'" (ngModelChange)="changeUnit($event)">
      <label nz-radio-button nzValue="hour">1小时</label>
      <label nz-radio-button nzValue="day">1天</label>
      <label nz-radio-button nzValue="week">1周</label>
    </nz-radio-group>
  </div>

  <nz-spin nzSimple [nzSize]="'large'" *ngIf="gpuLoading" class="text-center"></nz-spin>

  <div *ngIf="!gpuLoading">

    <ng-container *ngIf="gpuData.length>0">
      <ng-container *ngFor="let item of gpuData">
        <div nz-row nzGutter="15" class="mt-15">
          <nz-card>
            <div echarts [options]="item.temperat" style="height: 400px"></div>
          </nz-card>
        </div>

        <div nz-row nzGutter="15" class="mt-15">
          <nz-card>
            <div echarts [options]="item.usageRate" style="height: 400px"></div>
          </nz-card>
        </div>
      </ng-container>
    </ng-container>
    <nz-empty *ngIf="gpuData.length==0" style="margin-top: 100px;"></nz-empty>

  </div>
</nz-drawer>
